<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, &#xD;&#xA;					  System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                                                                                  >
            <section name="SampleOpenCV.Properties.Settings" type="System.Configuration.ClientSettingsSection, &#xD;&#xA;					 System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"

      allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SampleOpenCV.Properties.Settings>
            <setting name="CameraMatrix" serializeAs="String">
                <value />
            </setting>
            <setting name="DistortionMatrix" serializeAs="String">
                <value />
            </setting>
            <setting name="HomographyMatrix" serializeAs="String">
                <value />
            </setting>
            <setting name="ResultScale" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ResultWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ResultLength" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BorderBottom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BorderTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BorderRight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BorderLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WorkStation" serializeAs="String">
                <value />
            </setting>
            <setting name="ArucoPath" serializeAs="String">
                <value>ArucoFiles</value>
            </setting>
            <setting name="CheckerPath" serializeAs="String">
                <value>CheckerFiles</value>
            </setting>
        </SampleOpenCV.Properties.Settings>
    </userSettings>
</configuration>
